*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font: 400 13px / 16px "Inter", sans-serif;
  background-color: #0B2434;
  color: #4A4E74;
}

.main-title {
  margin: 0;
  font: 700 25px / 30px "Karla", sans-serif;
  letter-spacing: -0.03em;
  text-align: center;
  color: #2B283A;
}

.main-text {
  margin: 0;
  letter-spacing: -0.03em;
  text-align: center;
}

.die {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 36px;
  height: 36px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font: 700 21px / 24px "Karla", sans-serif;
  background: #FFFFFF;
  color: #2B283A;
}

.die.freeze {
  background-color: #59E391;
}

.btn {
  display: block;
  margin: 26px auto 0px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 4px;
  padding: 6px 21px;
  font: 700 16px / 19px "Karla", sans-serif;
  background-color: #5035FF;
  color: #FFF;
}

.btn:disabled {
  opacity: 0.5;
}

.main {
  width: 320px;
  width: 320px;
  padding: 34px;
  border-radius: 10px;
  background-color: #F5F5F5;
}

.dice {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 18px;
  margin: 30px 0px 0px;
  padding: 0;
  list-style-type: none;
}